body {
    background-color: rgb(255, 222, 217);
}

.ghost-background {
    background-color: rgb(253, 213, 211);
}

.old-background {
    background-color: rgba(196, 137, 184, 0.342);
}

#title {
    font-family: 'Chewy', cursive;
    font-size: 8vh;
    text-align: center;
    margin-top: 70px;
    color: rgba(245, 14, 49, 0.528);

}

#name {
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
    text-align: center;
}

#namebtn {
    display: block;
    margin: 0 auto;
    position: relative;
}

.hungerBar {
    text-align: center;
    accent-color: rgba(229, 95, 115, 0.87);
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
}

.attentionBar {
    text-align: center;
    accent-color: rgb(242, 190, 144);
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
}

.energyBar {
    text-align: center;
    accent-color: rgba(250, 156, 118, 0.987);
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
}

#ageText {
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
    text-align: center;
    margin-top: 50px;
    padding: none;

}

.walkingdog {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    box-shadow: 0 0 8px 8px rgb(255, 222, 217);
}

.ghostdog {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    box-shadow: 0 0 8px 8px rgb(253, 213, 211);
}

.olddog {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    box-shadow: rgba(196, 137, 184, 0.342);
}
.blinkdog {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
}

#feedbtn {
    text-align: center;
    margin-left: 900px;
    transform: translateY(87px)
}

#lovebtn {
    text-align: center;
    margin-left: 900px;
    transform: translateY(134px);

}

#sleepbtn {
    text-align: center;
    margin-left: 900px;
    transform: translateY(112px);

}
